services:
  - type: web
    name: healthcare-all-in-one
    env: python
    plan: free
    region: oregon
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn web_interface:app --host 0.0.0.0 --port $PORT
    pythonVersion: 3.10.1

    healthCheckPath: /health
    autoDeploy: true
    envVars:
      - key: GROQ_API_KEY
        sync: false
      - key: HOST
        value: 0.0.0.0
      - key: PORT
        value: 10000
        